# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Ignore virtual environments
env/
venv/
ENV/
*.env

# Ignore output files
*.log
*.out
*.aux
*.pdf
*.html

# MacOS hidden files
.DS_Store
